body {
    background-color: gray; /* changed so it is easier on the eyes*/
    color: black;
    font-family: "Londrina Shadow", sans-serif;
    font-style: normal;
    font-weight: 400;
}


#seeMoreBlk {
    background-color: black;
    color: wheat;
    /* width: 200px;
    height: 60px;
    font-size: 18px;
    line-height: 24.26px;
    top: 67px;
    left: 60px; */
    border: 1px solid wheat;
    /* border-radius: 5px;
    margin: 40px 30px 30px 40px;
    align-content: center;
    font-family: "Londrina Shadow", sans-serif;
    font-style: normal;  
    font-weight: 400;
    font-size: xx-large; */
}

#seeMoreWht {
    background-color: wheat;
    color: black;
    border: 1px solid black;
    /* width: 200px;
    height: 60px;
    font-size: 18px;
    top: 67px;
    left: 60px;
    font-size: 18px;
    line-height: 24.26px;
    font-family: "Londrina Shadow", sans-serif;
    font-style: normal;  
    font-weight: 400;
    font-size: xx-large; */

}

.buttons {
    width: 200px;
    height: 60px;
    font-size: 18px;
    top: 67px;
    left: 60px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 24.26px;
    margin: 40px 20px 30px 20px;
    align-content: center;
    font-family: "Londrina Shadow", sans-serif;
    font-style: normal;  
    font-weight: 400;
    font-size: xx-large;

}

.buttoncontainer {
    margin: 30px 20px 20xp 20px;
    padding-left: 40px;

    
    
}

.navBar1 {
    background-color: wheat;
    color: black;
   
    
    height: 40px;
    overflow: hidden;
    margin-bottom: 30px;
    text-decoration: none;

}

.navBar1 a {
    color:  black;
    float: left;
    display: block;
    text-align: center;
    font-size: 25px;
    position: relative;
    bottom: 5px;
    padding: 10px 20px 0px 20px;
    text-decoration: none;
}

#navButton {
    background-color: wheat;
    border-radius: 10px;
    position: relative;
    right: 60px;
    top: 5px;
   
    height: 30px;
    text-align: center;
    font-family: "Londrina Shadow", sans-serif;
    font-style: normal; 
}



.card {
    float: left;
    background-color: wheat;
    border: 1px solid black;
    color: black;
    margin-left: 40px;
    width: 270px;
    height: 436px;
    margin-bottom: 30px;
   
}



#cardBlog {
    background-color: wheat;
    border: 1px solid black; 
    font-size: x-large;
}

#cardBlogTitle {
    top: 40px;
    padding-left: 15px;
 
}

#seeMoreCB {
  margin: 0px;
  padding-top: 5px;
  padding-left: 15px;
  font-size: x-large;
}

#priceCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
    font-size: larger;
    
}

#icon {
    border-radius: 50%;
    border: 1px solid black;

}

#priceCardImg {
    top: 20px;
    display: flex;
   
}
#pcTitle {
    text-align: center;
}

#priceCarInfo { 
    text-align: center;
    margin: 0px 0px 20px 0px;
    font-weight: 400;
}

ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0px;
}

#priceButton {
    background-color: wheat;
    border-radius: 10px;;
    margin-top: 20px;
    padding: 10px;
    width: 150px;
    font-family: "Londrina Shadow", sans-serif;
    font-style: normal;
    font-weight: 400;

}

#cardSquare {

    width: 370px;
    height: 502px;
    top: 191px;
    left:696px
}

#cardSquareImg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 11%;
}

#cardBody {
    margin-left: 15px;
    font-size: larger;

}

#seeMoreSQ {
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 15px;
    font-size: larger;
  }


